<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="/css/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/icon.css" />
		<link rel="stylesheet" type="text/css" href="/css/home.css" />
		<script src="/js/jquery-1.7.2.js"></script>
		<script src="/js/CustomRoller.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/post.js"></script>

		<script type="text/javascript">
			$(function() {
				//判断是否登录
				islogin(function (result,result2) {
					if(result==1){
						$(".avatar img").attr("src", result2.avatar)
						$(".post").show()
						var role=sessionStorage.getItem("loginRole");
						if(role=="2"){
							$("#admin").show()
							$(".manager").show()
							if($(".managePost").hasClass("on")){
								$(".post-wrap").addClass("del")
							}
						}else if(role=="1"){
							$("#member").show()
						}
					}else{
						$(".avatar img").attr("src","zhang.png")
						$(".post").hide();
						$("#tourist").show()
					}
				})
				var  url="http://192.168.123.1:8888/post/getAllPost?page=";

				//获取帖子总数
				getPostCount("http://192.168.123.1:8888/post/getAllPostCount",function (page) {
					var pageSize=parseInt(page)+1;

					for(var i=1;i<pageSize;i++){

						var page=$("<li></li>").html(i);
						$(".pageCount ul").append(page)
					}
				})

				//点击页数获取帖子
				$(".pageCount ul").on("click","li", function (e) {
					var  page=$(this).html();
					getpost(url,page)
				})

				//默认获取第一页帖子
				getpost(url,1);
				
				//管理员管理帖子
				$(".manager").on("click","a", function () {
					if(this.id=="showAllUser"){
						if($(this).hasClass("on")){
							$(this).removeClass("on")
						}else{
							$(this).addClass("on")
						}
					}else if(this.id=="managePost"){
						if($(this).hasClass("on")){
							$(".post-wrap").removeClass("del")
							$(this).removeClass("on")
						}else{
							$(".post-wrap").addClass("del")
							$(this).addClass("on")
						}
					}
				})


				//监听发帖事件
				$("#postSub").on("click", function() {
					var title=$("#postTitle").val()
					var val = $("#postContent").val();
					if(val&&title) {
						//内容不为空
						$.post("http://192.168.123.1:8888/post/setPost", $("#form").serialize(), function(result) {
							if(result == "1") {
								//发表成功
								alert("发表成功")
								$("#form")[0].reset()
								location.reload()

							} else if(result == "-1") {
								//发表失败
								alert("发表失败")
							}else if(result=="nologin"){
								alert("服务器错误，麻烦你登录一下啦");
								location.reload()
							}
						})
					} else  {
						//发表内容为空
						alert("发表内容和标题不能为空")

					}
				})

			})
		</script>
	</head>

	<body>
		<!--最外层-->
		<div class="webblog home">
			<!--顶部菜单-->
			<header class="webblog_top ">
				<div class="container">

					<div class="webName">
						小美论坛
					</div>
					<div class="search">
						<input type="text" name="" id="" value="" />
						<a href="" class="icon icon-fangda"></a>
					</div>
					<div class="nav">
						<div class="user" style="display: none;">
							<span>
								<a href="" id="personPage">
									<i class="icon icon-person"></i>
									<span id="username"></span>
								</a>
								<div class="commentPrompt">

									<div class="comment-inner"></div>
									<a class="newCount">21</a>
									<div class="iknow">
										<button href="javascript:;" >详情</button>
										<button href="javascript:;" >取消</button>
									</div>

								</div>
								
								<a href="http://192.168.123.1:8888/user/logout" class="logout"> 退出</a>
							</span>
						</div>
						<div class="login">
							<a href="http://192.168.123.1:8888/login.html">登录</a>
							<a href="http://192.168.123.1:8888/regist.html">注册</a>
						</div>
						<div class="homepage">
							<a href="http://192.168.123.1:8888/homepage.html">
								<i class="icon icon-home"></i> 首页
							</a>
						</div>
					</div>
			
				</div>
				<div class="shadeBg">
				
			</div>
				<div class="showNewComment">
					<a href="javascript:;" id="closeShow"></a>
					<div class="showNewComment-inner">
						<div class="showNewComment-content comment-list">

						</div>
					</div>
				</div>



			</header>
			<!--中间内容-->
			<div class="webblog_main">
				<div class="container">

					<div class="row">
						<div class="col-md-9">
							<div class="post clearfix">
								<h1>吃饭睡觉不如水一贴</h1>
								<form id="form">
									<textarea name="postTitle" id="postTitle" placeholder="请输入标题"></textarea>
									<textarea name="postContent" id="postContent" placeholder="请输入内容"></textarea>
									<input type="button" value="发表一波" id="postSub" />
								</form>
							</div>
							<div class="post-wrap">
								
							</div>
							

						</div>
						<div class="col-md-3">
							<div class="text-box">
								<div class="avatar">
									<img src="" />
								</div>
								<p class="welcome-tips" id="tourist">游客你好，登录可以发帖哟</p>
								<p class="welcome-tips" id="member">欢迎你啊，会员</p>
								<p class="welcome-tips" id="admin">欢迎你啊，管理员</p>
							</div>
							<div class="manager">
								<a href="http://192.168.123.1:8888/userManage.html" id="showAllUser"> 查看注册用户</a>
								<a href="javascript:;" id="managePost">管理用户帖子</a>
							</div>
						</div>
					</div>

					<div class="pageCount clearfix">
						<ul></ul>
					</div>
				</div>

			</div>
			<!--底部-->
			<!--<footer class="webblog_footer">
			
		</footer>-->
		</div>

		<div class="commentforPrompt">
			<div class="form-group  input-group-lg ">
				<div class="col-md-10">
					<input type="text" name="commentforlast" class="form-control input-lg" id="commentforlast" value="" />
				</div>
				<div class="col-md-2">
					<input type="button" value="提交" class="btn btn-success btn-lg" id="submitComment" />
					<input type="button" value="取消" class="btn btn-default btn-lg" id="cancelComment" />
				</div>
			</div>
		</div>

	</body>

</html>